<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StoryReader2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--  
  <context-param>
  	<param-name>JDBCUrl</param-name>
  	<param-value>jdbc:mysql://220.69.171.38:3306/storyreader?autoReconnect=true</param-value>
  </context-param>
  <context-param>
  	<param-name>DBuser</param-name>
  	<param-value>storyreader</param-value>
  </context-param>
  <context-param>
  	<param-name>DBpasswd</param-name>
  	<param-value>storyreader</param-value>
  </context-param>
  <context-param>
  	<param-name>DBTimeZone</param-name>
  	<param-value>Asia/Seoul</param-value>
  </context-param>-->
  <resource-ref>
     <description>DBCP test</description>
     <res-ref-name>jdbc/storyreader</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>